.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 80px);
  justify-content: space-evenly;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  width: 200px;
  min-width: 200px;
  font-size: 1rem;
  text-align: center;
  color: #13303c;
}

.title h1 {
  margin: 0;
}

.picture {
  width: 100%;
  animation-name : mymove;
  animation-iteration-count : infinite;
  animation-direction : alternate;
  animation-duration : 2s;
  filter: drop-shadow(30px 10px 4px #d1d1d1);
}

.announcement {
  margin: 0px 20px;
  font-size: 1.3rem;
  color: #13303c;
  width: 350px;
  text-align: justify;
}

@media (min-aspect-ratio: 5/5) {
  .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .picture {
    min-width: 320px;
  }

  .title {
    font-size: 1.5rem;
    z-index: 9;
    width: 500px;
    margin-top: 100px;
  }
}

@media (min-width: 470px) {
  .picture {
    width: 409px;
  }
}

@media (min-width: 900px) {
  .picture {
    width: 500px;
  }
}

@keyframes mymove {
  from {transform: translateY(-20px);}
  to {transform: translateY(20px)};
}