.image-container{
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 50px;
    max-width: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px 10px 0 0;
}

.section{
    display: flex;
    flex-direction: row;
}

.info{
    width: 100%;
}

@media (max-width: 480px){
    .section{
        flex-direction: column;
        align-items: center;
    }
}