.container {
  max-width: 64rem;
  margin-left: auto;
  padding: 0px 20px;
  margin-right: auto;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}