.container {
  margin: 30px 40px 40px 40px;
}

.container h2 {
  margin: 0;
}

.grid-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
}

.project-card {
  cursor:pointer;
  border-radius: 200px;
  width: 100%;
  max-width: 640px;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  overflow: hidden;
}

.info {
  padding: 15px;
}

.technologies {
  display: flex;
  flex-direction: row;
  color: rgb(61, 61, 61);
  margin: 0;
  gap: 10px;
}

.technologies h4 {
  margin: 0px 0px;
  color: currentColor;
  font-weight: lighter;
}

.technologies > h4::after {
  content: '|';
  padding-left: 12px;
}


.technologies > h4:last-child:after {
  content: '';
}


.title {
  margin: 5px 0px;
  font-size: small;
}

@media (min-width: 640px) {
  .grid-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}